body {
    margin: 0px auto 0px auto;
    width: 600px;
}

div#header {
    margin-bottom: 30px;
    padding: 12px 0px 12px 0px;
}

div#logo a {
    float: left;
    visibility: hidden;
}

div#header #navigation {
    text-align: right;
}

div#header #navigation a {
}

div#footer {
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}

h1 {
}

h2 {
}

div.info {
}
