body {
    margin: 0px auto 0px auto;
    width: 800px;
    display: flex;
    flex-direction: column;    
}

div#header {
    margin-bottom: 15px;
    padding: 12px 0px 12px 0px;
}

div#logo a {
    float: left;
    visibility: hidden;
}

div#header #navigation {
    text-align: right;
}

div#header #navigation a {
}

div#footer {
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}

div#body {
    display: flex;
    flex: 1;
}

div#content {
    padding: 12px 0px 12px 12px;    
    flex: 1;
    order: -1;
}

div#sidebar {
    padding: 12px 0px 12px 12px;    
    flex: 0;
}

h1 {
}

h2 {
}

div.info {
}
