$body$
<div id="comments" data-id="$commentId$">
  <h2>Comments</h2>
  <div id="header">
    Want to leave a comment? Visit <a href="https://github.com/farre/blog/issues/$commentId$"> this post's issue page on GitHub</a>.
$if(branch)$
    <p>Want to contribute? This post has been written GitHub branch <a href="https://github.com/farre/blog/tree/$branch$/$path$">$branch$</a>.
$endif$
  </div>
</div>

<div style="display: none;">
  <div class="comment" id="comment-template">
    <div class="commentheader">
      <div class="commentgravatar">
      </div>
      <a class="commentuser" href=""></a>
      <a class="commentdate" href=""></a>
    </div>
    <div class="commentbody"></div>
  </div>
  <img id="image-template" width="30" height="30">
</div>
