---
layout: default
---
<div class="archive">
  <h1 class="post-title">{{ page.title }}</h1>
  {% assign postsByYear = site.posts | group_by_exp: "post", "post.date | date: '%Y'" %}
  {% for year in postsByYear %}
  <h2 class="post-title">{{ year.name }}</h2>
  <ul class="post-list-simple">
    {% for post in year.items %}
    <li>
      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %-d, %Y" }}</time>
    </li>
    {% endfor %}
  </ul>
  {% endfor %}
</div>
